@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-color: black;
    font-family: "Londrina Sketch", sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.solar {
    background-image: url("/home1.jpg");
    background-size: cover;
}

.work {
    background-image: url("/work.jpg");
    background-size: cover;
}
